@media (min-width: 768px) {
  #menuBtn {
    display: none;
  }

  #navMenu {
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  nav a {
    padding: 0.8rem 1.5rem;
  }

  .member-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media (min-width: 768px) {
  .hero-text {
    max-width: 60%;
    padding: 2.5rem 3rem;
  }

  .hero-text h2 {
    font-size: 3rem;
  }
}